body {
    margin: 0px;
    color: rgb(54, 49, 138);
    text-align: center;
}

button {
    padding: 6px 12px;
    background:  blanchedalmond;
    border-radius: 15px;
}

.cta {
    border-bottom: 4px solid azure;
}

.hero {
    background-image: url("../space.jpg");
    background-size: cover;
    padding: 10px 0px 40px 0px;
}